.portrait-wrap
  height 100%
  box-sizing border-box
  overflow hidden
  position relative

  .noData-box
    height calc(100vh - 141px)
    margin 16px
  .resultList
    .ant-tabs-nav-wrap
      justify-content center
  .ant-tabs-nav
    background-color #fff
  .herder
    font-size 16px
    font-weight 500
    color rgba(0,0,0,0.85)
    line-height 46px
  .bbc 
    border-bottom 1px solid #E6EDF8
    .lh24
      height 24px
      line-height 24px
  .search
    margin-bottom 0px
    .search-list
      width 50%
      min-height calc(100vh - 237px)
      .list-height
        height 48px
        line-height 48px
        color #fff
        text-align center
        font-size 16px
      .item-content
        border-bottom 1px solid #f3f4f9
        margin 8px
        padding-bottom 8px
        line-height 32px
    .ant-tabs-nav
      background-color #1890ff
      padding-bottom 16px
    .ant-tabs-nav-operations
      display none
    .ant-tabs-tab
      border-radius 2px !important
      margin-right 24px
      font-size 12px

    // 搜素框
    .search_content
      padding-top 24px
      padding-bottom 24px
      background-color #fff
      font-size 12px 
      color rgba(0,0,0,0.65)
      display flex
      justify-content center
      background-color #1890ff
  // 用户信息  
  .user-info
    background-color #f3f4f9
    // height calc(100vh - 328px)
    height calc(100vh - 137px)
    
    .basis-info
      width 20%
      overflow auto

      &-content
        &-list
          width 100%
          .info-tag
            padding 4px 8px
            background-color rgba(0,0,0,0.05)
            border 1px solid #e6edf8
            border-radius 6px
            display inline-block
          .info-title
            color rgba(0,0,0,.65)
            margin-bottom 8px
            margin-top 8px
            padding-left 8px
            border-left 3px solid rgba(0,0,0,.45)
            
    // 画像模块
    .user-portrait
      width 80%
      overflow-y auto
      .tag-depict
        background-color #fff
        min-height calc(100vh - 185px)
        .search-condition
          padding 16px
          
          .ant-btn > .anticon
            line-height 24px
        
        .tag-list
          width 75%
          .info-tag
            padding 4px 8px
            background-color rgba(0,0,0,0.05)
            border 1px solid #e6edf8
            border-radius 6px
            display inline-block
        .tag-tree
          width 25%

      .ant-tabs
        border 1px solid #e6edf8
      .ant-tabs-nav
        background-color #fff
        margin-bottom 0px
        padding-bottom 0px
        .ant-tabs-tab
          font-size 14px

      .chart
        width 60%
        position relative
        height calc(100vh - 440px)
        .tag-herder
          font-size 14px
          color rgba(0,0,0,.85)

      .evaluation-cloud
        width 50%
        .evaluation-herder
          font-size 14px
          color rgba(0,0,0,.85)
        .evaluation-cloud-content
          position relative
          .no-Data
            position absolute
            top 0
            left 0px
            width 100%
            padding-top 100px

      .object-cloud
        background #FFFFFF
        border-top 0
        border-radius 2px
        height calc(100vh - 241px)

        &-header
          line-height 56px
          padding-left 16px
          font-size 14px
          color rgba(0, 0, 0, .85)
          border-bottom 1px solid #E6EDF8

        &-count
          font-size 12px
          color rgba(0, 0, 0, .45) 

        &-content
          height 480px
          overflow hidden
          position relative
          // padding 8px
        
        .tag-herder
          font-size 14px
          color rgba(0,0,0,.85)

        .noData
          position absolute
          top 0
          left 0px
          width 100%
          padding-top 100px
    // .business-contact
    //   width 100%
    .time-list
      width 40%
      height calc(100vh - 440px)
      overflow-y auto
      overflow-x hidden
      margin-left 0px
      border 1px solid #E6EDF8
      padding 16px
    
    .ant-menu-submenu-title
      padding-left 0 !important
      line-height 24px
      height 24px
      font-size 12px
      margin 0
      margin-top -2px
    .ant-timeline-item
      padding-bottom 0
    .ant-timeline.ant-timeline-label .ant-timeline-item-label, .ant-timeline-item-content
      top -4px

  .ant-input-search-large .ant-input-search-button
    height 33px
  .ant-btn > .anticon
    line-height 38px
  .ant-select-multiple
    .ant-select-selection-item
      margin-bottom 4px
