.wechat-node
  border 1px solid #E7EFF6

  .tag-drop
    padding 0 24px 0 8px
    background-color darkgrey
    border-radius 12px
    user-select none
    cursor pointer
    outline none
    display inline-block
    position relative

    &::after
      width 8px
      height 8px
      border-right 1px solid #333
      border-top 1px solid #333
      transform rotate(135deg)
      position absolute
      right 8px
      top 5px
      content ""



