.mapping-body
  height 750px

  .ant-table-cell .react-resizable
    font-size 14px
  
  .ant-table-cell
    font-size 14px  
  
  .mapping-input .ant-input
    font-size 14px

.mapping-wrap .mapping-header .mapping-header-right
  color $main-text-color

.mapping-body .table-wrap-header .table-wrap-title
  color $subhead-text-color

.mapping-body .ant-table-tbody td
  color $main-text-color
.mapping-wrap a
  color #3f5ff4