.tag-object

  .object-header
    line-height 56px
    font-size 16px
    padding-left 16px
    background-color #fff
    color rgba(0,0,0,.85)
    border-bottom 1px solid #e6edf8

  .object-box
    width 100%
    display flex
    flex-wrap wrap

  .object-card-box
    margin-bottom 16px
    padding-right 16px
    width 33.33%
    height 160px
  
  .object-card
    border 1px solid #e6edf8
    background-color #fff
    height 100%
    cursor pointer
    transition box-shadow .3s,border-color .3s

    &:hover
      border-color transparent
      box-shadow 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09)
  
  .object-up
    padding 16px
    height 100%
  
  .object-down
    padding 12px
    background-color #f7f9fa
    