.analysis-form
  .dynamic-delete-button
    display flex
    position absolute
    top 5px
    right 16px
    color #999
    margin-left 5px
    // cursor pointer

  .config-title
    margin-left 21px

.sales-detail
  height 100%
  background-color rgb(246, 250, 255)

  .sales-detail-header
    // padding 16px
    margin 16px 16px 0 16px
    background-color rgb(246, 250, 255)
  .left-item-select
    border 1px solid #3F5FF4
    color #3F5FF4
    border-radius 4px
    height 400px
    width 31%
    overflow auto
    margin-right 16px
    margin-bottom 16px
    
    .left-item-header-select
      border-bottom 1px solid #3F5FF4

.sales-detail-analyze
  .detail-chart
    padding 0 16px 16px 16px
    background-color #fff

    .chart-filter
      position absolute
      right 40px
      z-index 20
  
  .h400
    min-height 400px

.sales-detail-two
  width 100%
  display flex
  flex-flow row wrap
  padding 8px 12px 12px 24px

  .strategy-list
    box-sizing border-box
    flex 0 0 33.33%