.overview
  .overview-count
    .o-card-wrap
      margin 0
  .overview-header
    line-height 48px
    font-size 16px
    padding-left 16px
    background #ffffff
    color rgba(0,0,0, .85)
    border-bottom 1px solid #E6EDF8
.categroy-legend-box
  align-items start
  .categroy-legend-item
    height 24px

  