.overview
  .overview-count
    .o-card-wrap
      margin 0
  .overview-header
    line-height 48px
    font-size 14px
    padding-left 16px
    background #ffffff
    color rgba(22,50,78, .85)
    border-bottom 1px solid #E6EDF8
  .header-scroll
    // border-bottom 1px solid #D4DCE9
    border-bottom 1px solid rgba(223,237,244,0.5)
    // box-shadow: 0px 0px 4px 0px rgba(223,237,244,0.5);
  .customer-chart
    border: 1px solid #D4DCE9;
    border-top none
    box-shadow: 2px 0px 4px 2px rgba(223,237,244,0.5);
    // border-radius: 4px;
    .object-cloud
      height 319px
      overflow hidden
.categroy-legend-box
  align-items start
  .categroy-legend-item
    height 24px

  