.group-detail-2
  height calc(100vh - 48px)
  overflow-y auto

  .manage-detail-header
    // background-color #fff
    // border-bottom 1px solid #f0f0f0
    padding 16px 16px 0px

    .detail-head
      font-size $head-text-size
      color $head-text-color
      line-height 32px
    
    .header-icon
      cursor pointer  
      :hover
        color #0078ff
  
  .tab-card
    padding 0px 16px 16px
    min-height calc(100vh - 204px)
  
  .table-box
    width 24px
    height 24px
    text-align center