.dag-process
  position relative
  display flex
  .dag-header
    height 40px
    position fixed
    width 100%
    background-color #fff
    .header-but
      height 40px
      border none
      border-right 1px solid #f3f4f9
  .dag-cate
    width 25%
    padding 16px
    // background-color #fff
    margin-top 40px
    .ant-collapse-content > .ant-collapse-content-box
      padding 16px 8px 8px 16px
    .containerStyle
      margin-right 8px
      text-align center
  
    .dag-drag-box
      width calc(50% - 8px)
      display inline-block
      border solid 1px #f3f4f9
      font-size 12px
      height 40px
      line-height 40px
    .dag-drag-box:nth-child(odd)
      margin-right 8px

  .dag-content
    width 75%
    height calc(100vh - 136px)
    // background-color #fff
    margin 16px
    margin-top 56px
    position relative
    .dag-style
      position absolute
      width 100%
      top 0px
      right 0
      bottom 0
      // border solid 1px #dbeff8

      .dag-node
        max-width 240px
        word-break break-word
        white-space normal
        line-height: 1.2
        padding 4px 0
  .dag-right
    right 32px
    top 96px
    .icon-style
      font-size 18px
      color rgba(0,0,0,.45)
.oner-dag 
  .oner-dag-container   
    .oner-dag-node
      background-color #fff
      height 40px
  .node-inner-wrap
    padding-left 48px !important
    .node-icon
      width 40px !important