.analysis-form
  .dynamic-delete-button
    display flex
    position absolute
    top 1px
    right -5px
    color #999
    margin-left 5px
    // cursor pointer

  .config-title
    margin-left 21px

  .left-item-select
    border 1px solid #3F5FF4
    color #3F5FF4
    border-radius 4px
    
    .left-item-header-select
      border-bottom 1px solid #3F5FF4