.analysis-form
  .dynamic-delete-button
    display flex
    position absolute
    top 1px
    right -5px
    color #999
    margin-left 5px
    // cursor pointer

  .config-title
    margin-left 21px