#purchaseId
  .tableBox
    width 24px
    height 24px
    text-align center
  .ant-table-custom-wrapper
    background-color #fff
    width 100%
    padding-left inherit
    padding-right inherit
    margin-top -8px
    padding-top 8px
    left 0
    right 0
