.group-detail-2
  // height calc(100vh - 48px)

  .manage-detail-header
    background-color #fff
    border-bottom 1px solid #f0f0f0
    padding 16px

    .detail-head
      font-size 16px
      color rgba(0,0,0,.85)
    
    .header-icon
      cursor pointer  
      :hover
        color #0078ff
  
  .tab-card
    padding 0px 16px 16px
  
  .table-box
    width 24px
    height 24px
    text-align center