// 主色
$main-color-start = #849AFF
$main-color-end = #3F5FF4

// 大标题
$head-text-size = 18px
$head-text-color = #000

// 小标题
$subhead-text-size = 14px
$subhead-text-color = #000

// 正文
$main-text-size = 14px
$main-text-color = rgba(0, 0, 0, .85)

// 说明
$descr-text-size = 14px
$descr-text-color = rgba(0, 0, 0, .45)

// 提示、失效
$disable-text-size = 14px
$disable-text-color = rgba(0, 0, 0, .25)