.categroy-legend-item
  height: 40px;
  .legend-pro
    min-width 52px
  .legend-line
    color #d9d9d9
  .legend-name
    max-width: 90px
    min-width: 70px
    .legend-name-icon
      width: 6px;
      height: 6px;
      border-radius: 6px;
      display: inline-block;
      background: #ccc;
    
  .legend-bar
    width: 48px;
    background: rgba(0,0,0,.08);
    height: 6px;
    border-radius: 4px;
    position: relative;
    .legend-bar-inner
      position: absolute;
      left: 0;
      top: 0;
      height: 6px;
      border-radius: 4px;
      background: #3F5FF4;
      opacity: .8;