
@import './antd-cover.styl'
@import './new-antd-cover.styl'


#root
  width 100%
  height 100%

.frame-main

  .frame-sider
    width 160px
    transition background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s

  .frame-sider-fold
    width 50px

    .ant-menu
      width 30px

  .sider-button
    background linear-gradient(180deg, #6F92FF 9%, #4A64DD 100%)
    height 48px
    width 160px
    
    .sider-fold
      width 32px
      height 32px
      color #fff
      cursor pointer
      margin-left 10px

      span
        margin-top 35%

  .sider-box
    padding 0 10px
    background linear-gradient(180deg, #4A64DD 9%, #6F92FF 100%)
    overflow-y auto

    .sider-menu
      height 100%
      background linear-gradient(180deg, #4A64DD 9%, #6F92FF 100%) !important

  .frame-header
    background linear-gradient(90deg, #4A64DD 13%, #6F92FF 99%)
    box-shadow 0px 2px 6px 0px rgba(7, 56, 156, 0.15)
    height 48px


.dt-tree-container
  background-color #fff
  border-radius 0 0 4px 4px


.ant-menu-dark .ant-menu-inline.ant-menu-sub
  background-color #5370e6 !important
  border-radius 4px

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected
  background-color #fff !important
  color $main-color-end !important

.ant-menu-item
  border-radius 4px
  height 30px !important
  line-height 30px !important
  
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon
  color $main-color-end !important
  line-height 36px !important

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span, .ant-menu-dark .ant-menu-item-selected .anticon + span
  color $main-color-end !important

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub
  background #5370e6


.innerbox::-webkit-scrollbar {
/*滚动条整体样式*/
  width: 4px;  /*高宽分别对应横竖滚动条的尺寸*/
  // height: 1px;
}
.innerbox::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #ccc;
  // background-image: -webkit-linear-gradient(
  //   45deg,
  //   rgba(255, 255, 255, 0.2) 25%,
  //   transparent 25%,
  //   transparent 50%,
  //   rgba(255, 255, 255, 0.2) 50%,
  //   rgba(255, 255, 255, 0.2) 75%,
  //   transparent 75%,
  //   transparent
  // );
}
.innerbox::-webkit-scrollbar-track {
/*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(22, 50, 78, 0.6);
  border-radius: 10px;
}

.dt-tree .dt-inner-text
  font-size 14px

.noborder-input-login input
  font-size 14px !important
  background #f6f9fb !important

.dt-tree-action
  padding 12px 0px
.dt-tree-action-tree li
  font-size 14px

// .dt-inner-text
//   color $main-text-color

// .dt-tree-node-detail
//   height 24px !important
//   padding-top 4px !important
//   font-size 14px !important
//   color $main-text-color !important

// .dt-tree .dt-li-tree
//   line-height 24px !important

// .dt-ant-12 
//   .ant-modal-footer 
//     .ant-btn
//       font-size 14px  
// .h-100 
//   height 100%
// .legend-name-icon
//   width 6px
//   height 6px
//   border-radius 6px
//   display inline-block

// .fixed-header
//   position fixed
//   z-index 10
//   width 100%
// .c-primary
//   color #3F5FF4