.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon
  background-image: linear-gradient(151deg, #849AFF 0%, #3F5FF4 100%) !important;
  border-color #849aff
.ant-radio-inner::after
  background-image: linear-gradient(151deg, #849AFF 0%, #3F5FF4 100%);
.ant-radio-checked .ant-radio-inner
  border-color #3F5FF4
.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner
  border-color #3F5FF4
.ant-steps-item-finish .ant-steps-item-icon
  border-color #3F5FF4
  .ant-steps-icon
    border-color #3F5FF4
    color #3F5FF4

.ant-btn
  // height 24px
  // line-height 24px
  padding 0px 16px
  height 32px
  line-height 32px
  border-radius 16px
  transition none // TODO: 要不要这么改，或者改成其他动画效果
  border-color #d4dce9

.ant-btn-primary
  border $main-color-end
  background linear-gradient(151deg, $main-color-start 0%, $main-color-end 100%)

.ant-btn-primary:hover, .ant-btn-primary:focus
  background $main-color-end
  border-color $main-color-end

.ant-tabs-content
  height 100%

.ant-drawer-title
  color $head-text-color

.ant-table-thead > tr > th
  color $subhead-text-color

.ant-form-item-label > label
  color $main-text-color

.ant-modal-title
  color $subhead-text-color

.ant-legacy-form-item-label > label
  color $main-text-color !important

.ant-select:not(.ant-select-customize-input) .ant-select-selector
  border 1px solid #d4dce9
  border-radius 4px

.ant-input
  border 1px solid #d4dce9
  border-radius 4px

  &::placeholder
    color $disable-text-color

.ant-switch-checked
  background-image linear-gradient(180deg, #849AFF 1%, #3F5FF4 100%)
  
.ant-steps-item-icon
  border-color #d4dce9 !important

.ant-steps-item-finish .ant-steps-item-icon
  border-color $main-color-end !important

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon
  color rgba(22, 50, 78, 0.25) !important

.ant-cascader-picker-arrow
  width 10px
  height 6px
  margin-top -2px